@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all ease 0.5s;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(45rem at right 55rem);
  transition: all ease 0.4s;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
section header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section header .logo {
  position: relative;
  max-width: 5rem;
}
section header .navbar {
  display: flex;
  align-items: center;
}
section header .navbar ul {
  position: relative;
  display: flex;
  margin-right: 2.5rem;
}
section header .navbar ul li {
  list-style: none;
}
section header .navbar ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 2.5rem;
  text-decoration: none;
}
section header .navbar .button_tema {
  width: 2.5rem;
  padding: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}
section header .navbar .dark {
  display: block;
  background: #333;
}
section header .navbar .light {
  display: none;
  background: #fff;
}
section .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .content .textBox {
  position: relative;
  max-width: 37.5rem;
  color: #333;
}
section .content .textBox h2 {
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
section .content .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
section .content .textBox a {
  display: inline-block;
  margin-top: 1.25rem;
  padding: 0.5rem 1.25rem;
  background: #017143;
  color: #fff;
  border-radius: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
section .content .imgBox {
  width: 38rem;
  display: flex;
  justify-content: center;
  padding-right: 1.125rem;
  margin-top: 1rem;
  align-items: center;
}
section .content .imgBox img {
  width: 50%;
  max-width: 20rem;
  transition: 1s;
}
section .thumb {
  position: absolute;
  left: 50%;
  bottom: 1.25rem;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
}
section .thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 1.25rem;
  cursor: pointer;
  transition: all ease 0.5s;
}
section .thumb li:hover {
  transform: translateY(-1rem);
  filter: drop-shadow(0.2rem 3rem 2rem #919191);
}
section .thumb li img {
  max-width: 3.75rem;
}
section .sci {
  position: absolute;
  top: 50%;
  right: 1.875rem;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .sci li {
  list-style: none;
}
section .sci li a {
  display: inline-block;
  margin: 0.3rem 0;
  transform: scale(0.6);
}
section .sci li a img {
  max-width: 4rem;
}
