@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

$verde: #017143;
$preto: #333;
$branco: #fff;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all ease 0.5s;
}

.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $verde;
  clip-path: circle(45rem at right 55rem);
  transition: all ease 0.4s;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $branco;

  header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .logo{
      position: relative;
      max-width: 5rem;
    }

    .navbar{
      display: flex;
      align-items: center;

      ul{
        position: relative;
        display: flex;
        margin-right: 2.5rem;
    
        li{
          list-style: none;
    
          a{
            display: inline-block;
            color: $preto;
            font-weight: 400;
            margin-left: 2.5rem;
            text-decoration: none;
          }
        }
      }

      .button_tema{
        width: 2.5rem;
        padding: .2rem;
        border-radius: 50%;
        cursor: pointer;
      }

      .dark{
        display: block;
        background: $preto;
      }

      .light{
        display: none;
        background: $branco;
      }
    }    
  }

  .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .textBox{
      position: relative;
      max-width: 37.5rem;
      color: $preto;

      h2{
        
        font-size: 4em;
        line-height: 1.4em;
        font-weight: 500;
      
        span{
          color: $verde;
          font-size: 1.2em;
          font-weight: 900;
        }
      }

      a{
        display: inline-block;
        margin-top: 1.25rem;
        padding: .5rem 1.25rem;
        background: $verde;
        color: $branco;
        border-radius: 2.5rem;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
      }
    }

    .imgBox{
      width: 60rem;
      display: flex;
      justify-content: center;
      padding-right: 1.125rem;
      margin-top: 1rem;
      align-items: center;

      img{
        max-width: 38%;
        transition: 1s;
      }
    }
  }

  .thumb{
    position: absolute;
    left: 50%;
    bottom: 1.25rem;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;

    li{
      list-style: none;
      display: inline-block;
      margin: 0 1.25rem;
      cursor: pointer;
      transition: all ease 0.5s;

      &:hover{
        transform: translateY(-1rem);
        filter: drop-shadow(.2rem 3rem 2rem #919191);
      }

      img{
        max-width: 3.5rem;
        
      }
    }
  }

  .sci{
    position: absolute;
    top: 50%;
    right: 1.875rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li{
      list-style: none;

      a{
        display: inline-block;
        margin: 0.3rem 0;
        transform: scale(0.6);

        img{
          max-width: 4rem;
        }
      }
    }
  }
}

@media (max-width: 991px){

  .circle{
    clip-path: circle(50% at center bottom);
  }

  section{
    padding: 1.25rem 1.25rem 7.5rem;

    header{
      padding: 1.25rem;

      .logo{
        max-width: 3.75rem;
      }

      .navbar{
        .toggle{
          position: relative;
          width: 1.875rem;
          height: 1.875rem;
          cursor: pointer;
          background: url(../images/menu.svg);
          background-size: 1.875rem;
          background-position: center;
          background-repeat: no-repeat;
          filter: invert(1);
        }

      }

    }

    .content{
      flex-direction: column;
      margin-top: 6.25rem;
  
      .textBox{
        max-width: 100%;
  
        h2{
          font-size: 2.5em;
          margin-bottom: 1rem;
        }
      }

      .imgBox{
        max-width: 100%;
        margin-bottom: 2rem;

        img{
          max-width: 18rem;
        }
      }
    }

    .sci{
      background: $verde;
      right: 0;
      width: 3.125rem;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  
  }
}

@media (max-width: 600px){
  section{

    header{

      .navbar{

        ul{
          display: none;
        }

        .toggle{
          position: relative;
          width: 1.875rem;
          cursor: pointer;
          background: url(images/menu.svg);
          background-size: 1.875rem;
          background-position: center;
          background-repeat: no-repeat;
          filter: invert(0);
          margin-left: 1rem;
          z-index: 11;
        }

        .toggle.active{
          top: 2rem;
          right: 1.8rem;
          position: fixed;
          width: 1.56rem;
          background: url(images/close.svg);
          background-size: 1.875rem;
          background-position: center;
          background-repeat: no-repeat;
        }

        ul.navigation.active{
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          background: $branco;
          z-index: 10;

          li{
            a{
              font-size: 1.5rem;
              margin: 1rem;
            }
          }
        }

      }

      .navbar.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 10;

        .tema{
          display: none;
        }

      }
    }

    .content{
      margin-top: 5rem;

      .imgBox{
        max-width: 100%;

        img{
          max-width: 12rem;
        }
      }
    }

    .thumb{
      li{
        img{
          max-width: 3rem;
        }
      }
    }
  }
  
}